# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
/dotfiles/.config/mc
/dotfiles/.config/configstore/update-notifier-npm.json
/dotfiles/.config/coc
